
.nav li a.tab-title,
.nav li a.tab-menu{
  display: inline-block;
}
.nav li a.tab-title,
.nav li a.tab-title:hover,
.nav li.active a.tab-title,
.nav li.active a.tab-title:hover,
.nav li.active a.tab-title:focus{
  border-right:none;
  margin-right: -2px; 
}
.nav li a.tab-menu,
.nav li a.tab-menu:hover,
.nav li a.tab-menu:focus {
  border-left:none; 
  margin-left: -2px; 
}
